<footer>
    <div class="container">
        <div class="col-sm-4">
            <img src="images/footer-logo.png" class="img-responsive">
        </div>
        <div class="col-sm-4 social-icon">
            <div class="middle-icons">
                <div class="icons">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </div>
                <div class="icons">
                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </div>
                <div class="icons">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>
                <div class="icons">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
                <div class="icons">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-right copy-write">
            <p>&copy; The Bookingbash 2016. All Rights Reserved.</p>
        </div>
    </div>
</footer>
