<header>
    <div class="col-sm-7">
        <div class="logo"><img class="img-responsive" src="../images/logo.png"></div>
    </div>
    <div class="col-sm-5 search-signin">
        <div class="pull-right">
            <div class="col-sm-10 padrightzero">
                <div class="input-group">
                    <autocomplete></autocomplete>
                    <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Find my Gig</button>
                  </span>
                </div>
            </div>
            <div class="col-sm-2 login-btn text-center padrightzero"><a href="#"><img class="img-responsive" src="../images/login-btn.png"></a></div>
        </div>
    </div>
</header>
