<nav class="navbar navbar-default menu">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Menu</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Activities</a></li>
                <li><a href="#">NightLife</a></li>
                <li><a href="#">DJ'S</a></li>
                <li><a href="#">Blogs</a></li>
            </ul>
        </div>
    </div>
</nav>
