<section id="other-services">
    <div class="container">
        <div class="col-sm-4 text-left">
            <p><a href="#" class="marbot20"><i class="fa fa-long-arrow-right marright5" aria-hidden="true"></i> Cinemas</a></p>
            <p><a href="#" class="marbot20"><i class="fa fa-long-arrow-right marright5" aria-hidden="true"></i> Movies</a></p>
            <p><a href="#"><i class="fa fa-long-arrow-right marright5" aria-hidden="true"></i> Events</a></p>
        </div>
        <div class="col-sm-4 text-left">
            <p><a href="#" class="marbot20"><i class="fa fa-long-arrow-right marright5" aria-hidden="true"></i> Lifestyle Activities</a></p>
            <p><a href="#" class="marbot20"><i class="fa fa-long-arrow-right marright5" aria-hidden="true"></i> Nightlife</a></p>
            <p><a href="#"><i class="fa fa-long-arrow-right marright5" aria-hidden="true"></i> DJs</a></p>
        </div>
        <div class="col-sm-4 text-left">
            <p><a href="#" class="marbot20"><i class="fa fa-long-arrow-right marright5" aria-hidden="true"></i> Blog</a></p>
            <p><a href="#" class="marbot20"><i class="fa fa-long-arrow-right marright5" aria-hidden="true"></i> Contact us</a></p>
            <p><a href="#"><i class="fa fa-long-arrow-right marright5" aria-hidden="true"></i> Policy T&C</a></p>
        </div>
    </div>
</section>
